## Summary of Concepts 

<ol>
    <li> Descriptive analysis of time series. trends and cycles</li>
    <li> Modeling time series. Stationarity. Auto-correlation. </li>
    <li> Prediction. Partial autocorrelation </li>
    <li> Statistics of stationary time series </li>
    <li> ARMA Models </li>
    <li> Calibration of ARMA Models </li>
    <li> Non-Stationarity. ARIMA Models </li>
    <li> Seasonality. SARIMA Models </li>
    <li> Long Memory. ARFIME Models </li>
    <li> Heterocedasticity. GARCH Models</li>
    <li> Intervention Analysis</li>
    <li> State-Space Models. Kalman recursions</li>
</ol>

In [4]:
library('ggplot2')
library('plotly')
library('tseries')
library('forecast')
library('datasets')
library('fracdiff')

In [5]:
data <- read.csv(file = 'data/Metro_Interstate_Traffic_Volume.csv')
head(data)

  holiday temp   rain_1h snow_1h clouds_all weather_main weather_description
1 None    288.28 0       0       40         Clouds       scattered clouds
2 None    289.36 0       0       75         Clouds       broken clouds
3 None    289.58 0       0       90         Clouds       overcast clouds
4 None    290.13 0       0       90         Clouds       overcast clouds
5 None    291.14 0       0       75         Clouds       broken clouds
6 None    291.72 0       0        1         Clear        sky is clear
  date_time           traffic_volume
1 2012-10-02 09:00:00 5545
2 2012-10-02 10:00:00 4516
3 2012-10-02 11:00:00 4767
4 2012-10-02 12:00:00 5026
5 2012-10-02 13:00:00 4918
6 2012-10-02 14:00:00 5181